<%- include('header') -%>

    <div class="box" id="heading">
        <h1><%=dayWeek%></h1>
    </div>

    <div class="box">
        
            <%if(newListItem.length!=0){%>
                <%for(var i=0;i<newListItem.length;i++){%>
                    <div class="item">
                    <input type="checkbox"/>
                    <p><%=newListItem[i]%></p>
                </div>
                <%}%>
            <%}%>
            <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="Enter new item..." autocomplete="off"/>
                <button type="submit" name="button" value="<%=dayWeek%>">+</button>
            </form>
    </div>

<%- include('footer') -%>